@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";
@import "@fontsource-variable/inter/wght.css";@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";
@function --m3-density(--size) {
  result: calc(var(--size) + 0.75rem);
}
:root {
  color-scheme: light dark;
}
@layer tokens {
  :root {
    --m3c-surface: light-dark(#f6faff, #060f15);
    --m3c-surface-container-lowest: light-dark(#fff, #000);
    --m3c-surface-container-low: light-dark(#eaf5ff, #08151d);
    --m3c-surface-container: light-dark(#e0f0fe, #0c1b25);
    --m3c-surface-container-high: light-dark(#d9eaf9, #11212c);
    --m3c-surface-container-highest: light-dark(#d0e5f6, #142834);
    --m3c-on-surface: light-dark(#213542, #d3e8f9);
    --m3c-on-surface-variant: light-dark(#4e6270, #99aebe);
    --m3c-outline: light-dark(#697d8c, #647887);
    --m3c-outline-variant: light-dark(#a0b5c5, #374a58);
    --m3c-inverse-surface: light-dark(#00101a, #f6faff);
    --m3c-inverse-on-surface: light-dark(#959ea6, #4d565e);
    --m3c-primary: light-dark(#00668f, #4fbcf7);
    --m3c-on-primary: light-dark(#f5f9ff, #00354d);
    --m3c-primary-container: #3daee9;
    --m3c-on-primary-container: #00293d;
    --m3c-inverse-primary: light-dark(#51bdf9, #00668f);
    --m3c-secondary: light-dark(#40637a, #7fa2bb);
    --m3c-on-secondary: light-dark(#f5f9ff, #002334);
    --m3c-secondary-container: light-dark(#b5d9f4, #0b3449);
    --m3c-on-secondary-container: light-dark(#294d63, #92b5ce);
    --m3c-tertiary: light-dark(#79536e, #ffe4f3);
    --m3c-on-tertiary: light-dark(#fff7f9, #704b65);
    --m3c-tertiary-container: #ffcfee;
    --m3c-on-tertiary-container: #66435c;
    --m3c-error: light-dark(#a04039, #ff897f);
    --m3c-on-error: light-dark(#fff7f6, #5b0d0d);
    --m3c-error-container: light-dark(#ff897f, #4c0204);
    --m3c-on-error-container: light-dark(#5b0d0d, #f17e74);
    --m3c-shadow: #000;
    --m3c-scrim: #000;
    --m3c-on-on-primary: light-dark(#00658e, #4fbcf7);
    --m3c-primary-container-subtle: light-dark(#b4e0ff, #003045);
    --m3c-on-primary-container-subtle: light-dark(#005274, #47b5f0);
    --m3c-secondary-container-subtle: light-dark(#bbdff9, #052f44);
    --m3c-on-secondary-container-subtle: light-dark(#2d5066, #8cb0c9);
    --m3c-tertiary-container-subtle: light-dark(#fccceb, #412139);
    --m3c-on-tertiary-container-subtle: light-dark(#65415b, #ca9ebb);
    --m3c-error-container-subtle: light-dark(#ffcfca, #5b0d0c);
    --m3c-on-error-container-subtle: light-dark(#872e29, #ff897f);
  }
}

/* Needed otherwise TextFieldOutline outline doesnt render properly */
:root {
  --m3c-outline: #697d8c;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--m3c-surface);
    font-family: "Inter Variable", sans-serif;
}