@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";
@import "@fontsource-variable/inter/wght.css";
@function --m3-density(--size) {
  result: var(--size);
}
:root {
  color-scheme: light dark;
  --md-ref-typeface-brand: 'Inter Variable', sans-serif;
  --md-ref-typeface-plain: 'Inter Variable', sans-serif;
}

@layer tokens {
  :root {
    --m3c-surface: light-dark(#fff8f0, #100e08);
    --m3c-surface-container-lowest: light-dark(#fff, #000);
    --m3c-surface-container-low: light-dark(#fbf3e4, #16130b);
    --m3c-surface-container: light-dark(#f6eddd, #1d1910);
    --m3c-surface-container-high: light-dark(#f0e7d6, #231f15);
    --m3c-surface-container-highest: light-dark(#ebe2ce, #2a2519);
    --m3c-on-surface: light-dark(#373225, #eee4d1);
    --m3c-on-surface-variant: light-dark(#655f4f, #b3aa98);
    --m3c-outline: light-dark(#817a6a, #7c7565);
    --m3c-outline-variant: light-dark(#bab19f, #4d4739);
    --m3c-inverse-surface: light-dark(#100e08, #fff8f0);
    --m3c-inverse-on-surface: light-dark(#a29c92, #59554c);
    --m3c-primary: light-dark(#715d1b, #dbc587);
    --m3c-on-primary: light-dark(#fff8ee, #4d3f0e);
    --m3c-primary-container: light-dark(#fce091, #61511f);
    --m3c-on-primary-container: light-dark(#62500d, #f9e2a2);
    --m3c-inverse-primary: light-dark(#ffe393, #6e5e2a);
    --m3c-secondary: light-dark(#695e40, #d4c5a1);
    --m3c-on-secondary: light-dark(#fff8ee, #493f24);
    --m3c-secondary-container: light-dark(#f1e1bb, #443b20);
    --m3c-on-secondary-container: light-dark(#5b5134, #cdbe9a);
    --m3c-tertiary: light-dark(#81562d, #ffca9d);
    --m3c-on-tertiary: light-dark(#fff7f4, #67401a);
    --m3c-tertiary-container: #f4bb8a;
    --m3c-on-tertiary-container: #5d3711;
    --m3c-error: light-dark(#a73b21, #f97758);
    --m3c-on-error: light-dark(#fff7f6, #450900);
    --m3c-error-container: light-dark(#fd795a, #85230a);
    --m3c-on-error-container: light-dark(#6e1400, #ff9b82);
    --m3c-shadow: #000;
    --m3c-scrim: #000;
    --m3c-on-on-primary: light-dark(#705d1b, #dac587);
    --m3c-primary-container-subtle: light-dark(#f3d889, #372b00);
    --m3c-on-primary-container-subtle: light-dark(#5d4b08, #beaa6f);
    --m3c-secondary-container-subtle: light-dark(#e8d9b3, #342b12);
    --m3c-on-secondary-container-subtle: light-dark(#564c2f, #b8aa87);
    --m3c-tertiary-container-subtle: light-dark(#ffd1ac, #452401);
    --m3c-on-tertiary-container-subtle: light-dark(#6b441d, #d6a071);
    --m3c-error-container-subtle: light-dark(#ffcfc4, #5a0e00);
    --m3c-on-error-container-subtle: light-dark(#8e2910, #ff8a6e);
  }
}